.countries-container {
    display: flex;
    flex-wrap: wrap;
  }
h1{
    color: blue;
}
  .card {
    
    width: 250px;
    min-height: 100px;
    background: rgb(202 138 4 ) ;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    overflow: scroll;
    
  }